<div class="p-3 mb-2 bg-light text-dark" align="center">
  <h1>
    Welcome to Ruby Note!
    <br><br>
    On this site you can manage your Notes in Books.
    <br>Each Book can be contain many Notes!
    <br><br>
    Your notes will be in format Markdown!
    <br>
    You can also export them in PDF



  </h1>
</div>

  <%= yield %>
