<div>
  <h1>With this page you will be able to manage books and notes,
    generating texts rich in plain text, and importing it into html
    code with the use of markdown </h1>
</div>

  <%= yield %>
